In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv("IPL Matches 2008-2020.csv")
df

In [ ]:
df.describe()

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
#looking closely at the dataset we have last 2 columns empire 1 and umpire 2 we do not need 
#so after deleting those 2 columns and again saving the dataframe thus obtained in df
df = df.iloc[:, :14]
df

In [ ]:
city_counts = df['city'].value_counts()
cities = city_counts.index.tolist()
print(city_counts)
cities

In [ ]:
#plotting the matches played in different destinations till 2020
# Create a pie chart
plt.figure(figsize=(15, 15))
plt.pie(city_counts, labels=city_counts.index, autopct='%1.1f%%')
plt.title('Value Counts as a Percentage (Pie Chart)')

# Create a bar chart
plt.figure(figsize=(15, 15))
plt.bar(city_counts.index, city_counts)
plt.xticks(rotation=45)
plt.xlabel('Value')
plt.ylabel('Count')
plt.title('Value Counts (Bar Chart)')

# Show the plots
plt.show()

In [ ]:
df.info()
#no of teams that played IPL till now
teams=df['team1'].value_counts()
teams_list = teams.index.tolist()

In [ ]:
# Create a bar chart
plt.figure(figsize=(15, 15))
plt.bar(teams.index, teams)
plt.xticks(rotation=45)
plt.xlabel('Value')
plt.ylabel('Count')
plt.title('Value Counts (Bar Chart)')

# Show the plots
plt.show()

In [ ]:
#no. of teams that played till 2020
teams_list

In [ ]:
#no of cities in which ipl matches took place
cities

In [ ]:
df.info()

In [55]:
player_of_match = df['player_of_match'].value_counts()
# extracting top 10 MOM
top_10_MOM = df['player_of_match'].value_counts().nlargest(10)
#another method to extract top 10 
top_10_MOM_2 = player_of_match.nlargest(10)
MOM = player_of_match.index.tolist()
print(player_of_match)
MOM
#top 10 players

AB de Villiers    23
CH Gayle          22
RG Sharma         18
DA Warner         17
MS Dhoni          17
                  ..
S Anirudha         1
M Kartik           1
R McLaren          1
RJ Harris          1
PJ Cummins         1
Name: player_of_match, Length: 233, dtype: int64

['AB de Villiers',
 'CH Gayle',
 'RG Sharma',
 'DA Warner',
 'MS Dhoni',
 'SR Watson',
 'YK Pathan',
 'SK Raina',
 'V Kohli',
 'G Gambhir',
 'AM Rahane',
 'MEK Hussey',
 'AD Russell',
 'A Mishra',
 'KA Pollard',
 'DR Smith',
 'V Sehwag',
 'AT Rayudu',
 'JH Kallis',
 'SE Marsh',
 'RA Jadeja',
 'SP Narine',
 'SR Tendulkar',
 'Rashid Khan',
 'UT Yadav',
 'S Dhawan',
 'Harbhajan Singh',
 'SV Samson',
 'RV Uthappa',
 'AC Gilchrist',
 'KL Rahul',
 'SL Malinga',
 'HH Pandya',
 'M Vijay',
 'BJ Hodge',
 'RR Pant',
 'JC Buttler',
 'Sandeep Sharma',
 'JJ Bumrah',
 'A Nehra',
 'KD Karthik',
 'GJ Maxwell',
 'BA Stokes',
 'MK Pandey',
 'KC Sangakkara',
 'SS Iyer',
 'DW Steyn',
 'Yuvraj Singh',
 'AJ Finch',
 'JP Faulkner',
 'SPD Smith',
 'AR Patel',
 'SC Ganguly',
 'B Kumar',
 'DPMD Jayawardene',
 'PA Patel',
 'SA Yadav',
 'JD Unadkat',
 'BB McCullum',
 'N Rana',
 'KH Pandya',
 'WP Saha',
 'MP Stoinis',
 'F du Plessis',
 'KS Williamson',
 'SK Warne',
 'JP Duminy',
 'NM Coulter-Nile',
 'TA Boult',
 'ML Hayden',
 'CA Lynn',
 'LRPL Taylor',
 'PP Chawla',
 'R Ashwin',
 'DJ Bravo',
 'L Balaji',
 'KK Nair',
 'CJ Anderson',
 'LMP Simmons',
 'Q de Kock',
 'R Vinay Kumar',
 'RD Gaikwad',
 'A Kumble',
 'JM Bairstow',
 'Mandeep Singh',
 'A Symonds',
 'KP Pietersen',
 'M Vohra',
 'MK Tiwary',
 'DA Miller',
 'YS Chahal',
 'GH Vihari',
 'AJ Tye',
 'VR Aaron',
 'BW Hilfenhaus',
 'MA Agarwal',
 'MJ McClenaghan',
 'Azhar Mahmood',
 'HM Amla',
 'P Negi',
 'R Sharma',
 'S Nadeem',
 'M Morkel',
 'CH Morris',
 'PV Tambe',
 'MM Sharma',
 'MG Johnson',
 'AB Dinda',
 'Shakib Al Hasan',
 'MC Henriques',
 'Iqbal Abdulla',
 'PP Shaw',
 'IK Pathan',
 'SM Pollock',
 'Ishan Kishan',
 'Sohail Tanvir',
 'B Lee',
 'S Gopal',
 'I Sharma',
 'A Nortje',
 'GC Smith',
 'M Ntini',
 'Shubman Gill',
 'M Muralitharan',
 'JA Morkel',
 'P Kumar',
 'AS Rajpoot',
 'R Dravid',
 'KM Jadhav',
 'HV Patel',
 'MM Patel',
 'LH Ferguson',
 'PC Valthaty',
 'RA Tripathi',
 'SK Trivedi',
 'Mohammed Siraj',
 'DE Bollinger',
 'MV Boucher',
 'Harmeet Singh',
 'DJ Hussey',
 'ST Jayasuriya',
 'CJ Jordan',
 'KK Ahmed',
 'CV Varun',
 'SO Hetmyer',
 'Z Khan',
 'PK Garg',
 'R Tewatia',
 'Shivam Mavi',
 'AS Joseph',
 'Mustafizur Rahman',
 'TG Southee',
 'Mohammed Shami',
 'Washington Sundar',
 'BCJ Cutting',
 'KV Sharma',
 'JJ Roy',
 'B Stanlake',
 'JC Archer',
 'A Zampa',
 'Mujeeb Ur Rahman',
 'KMA Paul',
 'Kuldeep Yadav',
 'L Ngidi',
 'SM Curran',
 'CR Brathwaite',
 'K Rabada',
 'HF Gurney',
 'DL Chahar',
 'Imran Tahir',
 'SW Billings',
 'RE Levi',
 'EJG Morgan',
 'PD Collingwood',
 'AC Voges',
 'J Theron',
 'AA Jhunjhunwala',
 'WPUJC Vaas',
 'AD Mathews',
 'LR Shukla',
 'R Bhatia',
 'S Badrinath',
 'A Singh',
 'SB Jakati',
 'DP Nannes',
 'HH Gibbs',
 'TM Dilshan',
 'PP Ojha',
 'RS Bopara',
 'RP Singh',
 'DL Vettori',
 'Umar Gul',
 'SP Goswami',
 'Shoaib Akhtar',
 'CRD Fernando',
 'S Sreesanth',
 'SA Asnodkar',
 'GD McGrath',
 'SM Katich',
 'JDP Oram',
 'MF Maharoof',
 'NV Ojha',
 'MJ Lumb',
 'MA Starc',
 'TL Suman',
 'GJ Bailey',
 'DJ Hooda',
 'LJ Wright',
 'AP Tare',
 'KK Cooper',
 'DJG Sammy',
 'MS Gony',
 'MS Bisla',
 'A Chandila',
 'CL White',
 'KMDN Kulasekara',
 'JD Ryder',
 'AD Mascarenhas',
 'MN Samuels',
 'JEC Franklin',
 'S Aravind',
 'BA Bhatt',
 'MR Marsh',
 'P Parameswaran',
 'J Botha',
 'S Sohal',
 'MD Mishra',
 'SB Wagh',
 'S Anirudha',
 'M Kartik',
 'R McLaren',
 'RJ Harris',
 'PJ Cummins']

In [56]:
top_10_MOM

AB de Villiers    23
CH Gayle          22
RG Sharma         18
DA Warner         17
MS Dhoni          17
SR Watson         16
YK Pathan         16
SK Raina          14
V Kohli           13
G Gambhir         13
Name: player_of_match, dtype: int64

In [60]:
#finding the matches who gone undeclared or no result
null_rows_match = df.loc[df['result'].isnull()]

In [61]:
null_rows_match

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator
241,501265,Delhi,2011-05-21,NaN,Feroz Shah Kotla,0,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,NaN,NaN,NaN,NaN
486,829763,Bangalore,2015-04-29,NaN,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,NaN,NaN,NaN,NaN
511,829813,Bangalore,2015-05-17,NaN,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,field,NaN,NaN,NaN,NaN
744,1178424,Bengaluru,2019-04-30,NaN,M.Chinnaswamy Stadium,0,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,NaN,NaN,NaN,NaN